*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* ### Primary */

    /* --Gradient:  */
    --softOrange: hsl(6, 100%, 80%);
    --softRed: hsl(335, 100%, 65%);

    /* ### Neutral */

    --PaleBlue: hsl(243, 100%, 93%);
    --GrayishBlue: hsl(229, 7%, 55%);
    --DarkBlue: hsl(228, 56%, 26%);
    --VeryDarkBlue: hsl(229, 57%, 11%);
}
body{
    background-color: var(--VeryDarkBlue);
    color: white;
}