*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conatiner{
    /* margin: 0 auto; */
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-child{
    flex: 1;
}
@media(min-width: 600px){
    .conatiner{
        display: flex;
        flex-direction: column;
    }
    .flex-child{
        flex: 1;
    }
    .sub{
        display: flex;
        flex-direction: row;
    }
    .row{
        display: flex;
    }
}