*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    /* margin: 0 auto; */
    /* align-items: center; */
    justify-content: center;
    position: relative;
}

@media(min-width: 600px){
    .inner-container{
        position: absolute;
        display: flex;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 1024px;
        width: 100%;
        margin: 10px;
    }
    .flex-child{
        flex: 1;
        /* flex-basis: 1; */
    }
    .inner-container{
        display: flex;
        /* flex-direction: column; */
    }
    .wrapper1{
        display: flex;
    }
    .big-box{
        max-width: 600px;
    }
    .small-box{
        max-width: 300px;
    }
    .wrapper2{
        display: flex;
    }
}