*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100%;
    /* margin: auto auto;
    align-items: center;
    justify-content: center; */
}
@media(min-width: 600px){
    .flex-child{
        /* flex: 1; */
        flex-basis: 1;
    }
    .inner-container{
        display: flex;
        /* flex-direction: column; */
    }
    .wrapper1{
        display: flex;
    }
    .big-box{
        max-width: 200%;
    }
    .small-box{
        max-width: 100%;
    }
    .wrapper2{
        display: flex;
    }
}